body { 
	background-color: #181C52;   
	font-family: 'Rokkitt', serif; 
} 

.red { 
	color: #7F1E00; 
} 

a:link, .blue { 
	color: #181C52; 
} 

h1 { 
	text-align: center; 
	background-color: #181C52; 
	color: white; 
	padding: 10px; 
} 

table,#piechart { 
	margin: 10px auto; 
} 

table { 
	vertical-align: top; 
}

table, th, td { 
	border-collapse: collapse; 
	border: 1px solid darkblue; 
	padding: 3px; 
} 

th { 
	background-color: #181C52; 
	color: #CDD3FF; 
}  

tr:nth-child(even) { 
	background-color: #CDD3FF;  
} 

.box { 
	margin: 50px; 
	border: 1px dashed #181F52; 
	padding: 10px; 
} 

#container { 
	background-color: #fff; 
	width: 70%;  
	margin: 0 auto; 
	padding: 50px; 
} 
